{% extends 'base.html' %}
{% load static %}

{% block title %}Create a New Blog Category{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'myblog/css/category-form.css' %}">

    <div class="category-form-container">
        {% if user.is_authenticated %}
            <h1>Add Category</h1>
            <div class="form-label">
                <form method="POST" action="" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">Add Category</button>
                </form>
            </div>
        {% else %}
            <p class="unauthorized-message">You are not allowed here! (and you know it...)</p>
        {% endif %}
    </div>

    <script src="{% static 'myblog/js/category-form.js' %}"></script>
{% endblock %}