{% extends 'base.html' %}

{% block title %}Create a New Blog Category{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Add Category</h1>
        <div class="form-label">
            <form method="POST" action="" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Add Category</button>
            </form>
        </div>
    {% else %}
        <p>You are not allowed here! (and you know it...)</p>
    {% endif %}
{% endblock %}
