{% extends 'base.html'%}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'myblog/css/style.css' %}">
<article class="post-detail">
    <header class="mb-4">
        current user: {{ user.id }} <br>
        post author: {{ post.author.id }}
        <h1 class="display-4">{{ post.title }}!</h1>
        <small class="post-meta text-muted d-block mb-2">
            نوشته شده توسط: {{ post.author.first_name }} {{ post.author.last_name }} {{ post.post_date }}
            <small>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <a href="{% url 'update_post' post.pk %}" class="text-primary">(ویرایش)</a>
                        <a href="{% url 'delete_post' post.pk %}" class="text-primary">(حذف)</a>
                    {% endif %}
                {% endif %}
            </small>
            <br>
            <time datetime="{{ post.created_at }}">{{ post.created_at|date:"j F Y, g:i a" }}</time>
        </small>
        <hr>
    </header>

    <section class="post-body mb-4">
        <p class="lead">{{ post.body|safe }}</p>
    </section>

    <footer>
        <a href="{% url 'home' %}" class="btn btn-secondary">بازگشت به خانه</a>
        <br/><br>
        <hr>
        <br/>

        <!-- Like Button Form -->
        <form method="POST" action="{% url 'like' post.id %}">
            {% if user.is_authenticated %}
                {% csrf_token %}
                <button type="submit" {% if liked %}disabled{% endif %}>Like</button>
                {{ total_likes }}
            {% endif %}
        </form>

        <!-- Dislike Button Form -->
        <form method="POST" action="{% url 'dislike' post.id %}">
            {% if user.is_authenticated %}
                {% csrf_token %}
                <button type="submit" {% if disliked %}disabled{% endif %}>Dislike</button>
                {{ total_dislikes }}
            {% endif %}
        </form>

        {% if not user.is_authenticated %}
            <small><a class="nav-link" href="{% url 'login' %}">login</a></small>
        {% endif %}

        <script src="{% static 'myblog/js/main.js' %}"></script>
    </footer>
</article>
{% endblock %}
