{% extends 'base.html' %}
{% block content %}

{% if category_posts %}
    <ul>
        <h1> {{ cats }} </h1>
        <br/>
        {% for post in category_posts %}
        <div class="card">
        <h5 class="card-header"><a href = "{% url 'article-detail' post.pk %}"> {{ post.title }}  </a></h5>
            {% if post.header_image %}
                <img class="card-img-top" src="{{post.header_image.url}}" alt='Post header'>
                <br/>
            {% endif %}
        
            <div class="card-body">
               - Categoría: <a href = "{% url 'category' post.category|slugify %}"> {{ post.category }} </a>
               - Autor: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}
               - Comentarios: {{post.total_comments}}
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <a href="{% url 'update_post' post.pk %}"> (Edit) </a>
                        <a href="{% url 'delete_post' post.pk %}"> (Delete) </a>
                    {% endif %}
                {% endif %}
                </br> </br>
                <h5>
                    {{ post.body|slice:":300"|safe }}
                </h5>
            </div>
            
        </div>
        <br/>
        {% endfor%}
    </ul>
{% else %}
<h2> This page does not exist... </h2>
{% endif %}


{% endblock %}