{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Blog Post{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'myblog/css/update-post.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>Update Post</h1>
            <div class="form-label">
                <form method="POST" action="" class="form-group">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">Update</button>
                </form>
            </div>
        {% else %}
            <p>You are not allowed here! (and you know it...)</p>
        {% endif %}
    {% else %}
        <p>You are not allowed here! (and you know it...)</p>
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'myblog/js/update-post.js' %}"></script>
{% endblock %}
