/* استایل کارت پروفایل */
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 20px;
    color: #007bff;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
}

/* لینک‌های شبکه‌های اجتماعی */
.bi {
    margin-right: 5px;
    color: #007bff;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
